@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.bg-hero-lg {
  background-image: 
    linear-gradient(rgba(29, 29, 29, 0.5), rgba(20, 20, 20, 0.5)), /* black overlay with 50% opacity */
    url('/hero.JPG'); /* actual image */
  background-size: cover;             /* Cover entire area */
  background-position: center;        /* Center the image */
  background-repeat: no-repeat;       /* Don’t repeat */
  height: 100vh;                  /* Full viewport height */
}

.bg-hero-sm {
  background-image: 
    linear-gradient(rgba(29, 29, 29, 0.5), rgba(20, 20, 20, 0.5)), /* black overlay with 50% opacity */
    url('/hero.JPG'); /* actual image */             /* Cover entire area */
    background-size:cover;   
  background-position: 60% 30%;       /* Center the image */
  background-repeat: no-repeat;       /* Don’t repeat */
  height: 100vh;                  /* Full viewport height */
}
